/* GENERAL RULES */
body {
    overflow-x: hidden;
}

h1, p {
    text-transform: uppercase;
}

#about, #form, #location{
    margin: 50px 0;
}

/* debug */
.prova {
    background-color: aqua;
    height: 50px;
}

.prova2 {
    background-color: brown;
    border: 1px solid #000;
    height: 50px;
}    

/* HEADER RULES */
nav {
    background-color: #303D4E;
    width: 100%;
    color: #fff;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.nav-item a {
    text-transform: capitalize;
}

.navbar-collapse {
    flex-grow: 0;
    background-color: #303D4E;
}
    /* banner */
#banner {
    padding-top: 90px;
    background-color: #58B99D;
    color: #fff;
    text-align: center;
}

#banner img {
    width: 100%;
    margin-bottom: 20px;    
}

p {
    font-size: 1rem;
}

/* MAIN */
    /* portfolio */
#portfolio > .row {
    text-align: center;
}

#portfolio h1 {
    margin-top: 20px;
}
    
.ps_container {
    max-width: 80%;
    margin: 0 auto;
}

.folio-prev {
    margin: 20px 0;
}

.folio-prev img {
    width: 100%;
    border-radius: 10px;
}

    /* about */
#about {
    background-color: #59B99D;
    padding: 20px 0;
}

#about h2, #about h1 {
    text-align: center;
    color: #fff;
}

#about .ps_container {
    width: 65%;
    margin: 0 auto;
}

#about p {
    color: #fff;
    font-weight: bolder;
    text-transform: initial;
}

.btn-down {
    text-align: center;
}

.btn-primary {
    background-color: transparent;
    border: 1px solid #fff;
}

    /* form */
#contact .ps_container {
    max-width: 60%;
    margin: 0 auto;
}

#contact .form-control {
    border: transparent;
    border-radius: 0;
    border-bottom: 2px solid #8a8a8a;
}

#contact .btn-primary {
    background-color: #59B99D;
    border: 0;
}

/* FOOTER */
    /* location */
        /* debug */
#location {
    background-color: cornflowerblue;
    height: 200px;
}
    /* copyright */
        /* debug */
#copyright {
    background-color:darkcyan;
    height: 150px;
}

